name: Tests

on:
  pull_request:
    types: [ opened, reopened, synchronize ]
  workflow_dispatch:
  workflow_call:
    inputs:
      node-version:
        required: false
        type: number
        description: 'Node.js version to use for the test run'
        default: 20

env:
  NPM_TOKEN: ${{ secrets.NPM_TOKEN }}

jobs:
  jest:
    name: Jest / ESLint
    runs-on: ubuntu-latest
    timeout-minutes: 10
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - uses: pnpm/action-setup@v2
        with:
          version: 8

      - name: Use Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 20
          cache: 'pnpm'

      - name: Install NPM Dependencies
        shell: bash
        run: pnpm install --frozen-lockfile

      - name: Run ESLint
        run: pnpm run lint:types && pnpm run lint

      - name: Run Tests
        run: pnpm run test
